<h3>Chat Online</h3>
<form>
    <label>Nombre</label>
    <input name="name">
    <br />
    <label>Mensaje</label>
    <input name="message">
    <input type="submit" name="enviar">
</form>

<h3>Lista de mensajes</h3>
<div></div>