<h1 class="display-3 text-center">Formulario de carga [Handlebars]</h1>

<a href="/view/productos" class="btn btn-primary my-3">Ver productos</a>

<form id='formAddProduct'>
    <label for="title" class="form-label">Título</label>
    <input class="form-control" name="title" >
    <label for="price" class="form-label">Precio</label>
    <input type="number" name="price" class="form-control">
    <label for="thumbnail" class="form-label">Foto URL</label>
    <input name="thumbnail" class="form-control">
    <input class="btn btn-success my-3" type="submit" value="Enviar" >
</form>